.grid {
  height: 100vh;
  width: 100%;
  background: #161616;
  background-image: radial-gradient(#2a2a2a, 3px, transparent 0);
  background-size: 30px 30px; /* Spacing */
  position: relative;
  overflow: hidden;
}

.debug-menu {
  position: fixed;
  top: 0;
  right: 0;
  background: #4c4c4c;
  padding: 10px 20px;
  border-bottom-left-radius: 5px;
}

.debug-menu button {
  margin: 10px;
  padding: 10px;
  background-color: #2a2a2a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.left-aligned {
  left: 0;
}
.right-aligned {
  right: 0;
}
.top-aligned {
  top: 0;
}
.bottom-aligned {
  bottom: 0;
}
.custom-handle {
  position: absolute;

  opacity: 0.75;
  border-radius: 4px;
}
.custom-handle-se {
  bottom: -5px;
  right: -15px;

  border-top: 20px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transform: rotate(-45deg);
  position: absolute;
  cursor: se-resize;
  resize: both;
}
